﻿@using ChampionshipAssist.Core.Entities

@model Tournament

@{
    ViewData["Title"] = Model.Name;
}

<h1>Детальна інформація про турнір</h1>
<hr />

<div class="row">
    <div class="col-2">Назва:</div>
    <div class="col-10"><strong>@Model.Name</strong></div>
</div>
<hr />
<div class="row">
    <div class="col-2">Короткий опис:</div>
    <div class="col-4">@Model.ShortDesc</div>

    <div class="col-2">Детальний опис:</div>
    <div class="col-4">@Model.LongDesc</div>
</div>

<div class="row">
    <div class="col-2">Правила турніру:</div>
    <div class="col-10">@Model.Rules</div>
</div>
<hr />
<h3>Інформація про учасників:</h3>

<div class="row">
    @foreach (var s in Model.Participants)
    {
        <div class="col-12"><span class="badge bg-danger">@s.Name</span> 
        </div>
    }
</div>