﻿@using ChampionshipAssist.Core.Entities

@model IEnumerable<Tournament>

@{
    ViewData["Title"] = "Tournament schedule";
}

<script>
    function openTournamentDetails(tournamentId) {
        // Redirect to the Tournament details page
        window.location.href = "/Tournament/Details/" + tournamentId;
    }
</script>

<div class="page-title">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3 class="my-auto">@ViewData["Title"]</h3>
            <p class="text-subtitle text-muted"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Tournament/Add" class="btn btn-warning">Create a tournament...</a>
            }
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 offset-md-8">
        <input type="text" id="searchInput" placeholder="Search by name..." class="form-control" oninput="filterTournaments()" />
    </div>
</div>

<!-- Tournaments Table -->
<section class="section">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Game</th>
                        <th>Starts at</th>
                        <th>Ends at</th>
                        <th>Short description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tournament in Model)
                    {
                        <tr style="cursor: pointer;" onclick="openTournamentDetails('@tournament.Id')">
                            <td>@tournament.Name</td>
                            <td>@tournament.Game</td>
                            <td>@tournament.StartDate</td>
                            <td>@tournament.EndDate</td>
                            <td>@tournament.ShortDesc</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    function filterTournaments() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.querySelector(".table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) { // Start from 1 to skip the header row
            td = tr[i].getElementsByTagName("td")[0]; // Change index to match the column you want to search
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>